<h3>realisations</h3>
<mat-tab-group>
 <mat-tab label="TP">
  <ul>
    <li>Les <b>TPs</b> effectués durant les formations sont généralement accessibles dans le paquet de référentiels suivant:<br/>
    <a href="https://github.com/didier-tp" target="_blank">https://github.com/didier-tp</a></li>
    
    <li>Les <b>Mini projets</b> et <b>démos</b> sont en libre consultation dans le paquet de référentiels suivant:<br/>
    <a href="https://github.com/didier-mycontrib" target="_blank">https://github.com/didier-mycontrib</a></li>
   </ul>
  </mat-tab>
  <mat-tab label="Autres">
    ...
  </mat-tab>
 </mat-tab-group>
