<h4 class="titre1">Qui suis-je ?</h4>
<div class="smallText">
    <img src="/res-api/v1/public/posts/images/didier.jpg" width="175" height="200" style="float : left;"/>
    <p>Diplomé de l'INSA de Rouen en 1992 , j'ai commencé ma carrière professionnelle en dispensant des formations informatiques (C/C++, unix, windows) en tant qu'ingénieur d'études salarié.</p>
    <p>Depuis 2005, j'excerce ma profession en tant que consultant informatique indépendant et je travaille régulièrement avec divers centres de formation (M2i-Formation, IB-Formation, Orsys, FuturSkill, Isika, etc).</p>
    <p>Entre 2000 et 2015 , J'ai acquis beaucoup d'expérience en programmation "java/JEE" (JSF, EJB, Spring, JPA/Hibernate). </p>
    <p>A partir de 2015, j'ai petit à petit intégré les technologies de l'architecture micro-services en environnement devops.</p>
    <p>Du coté front-end, en plus des bases essentielles (css3/html5/js) , j'ai fait le choix "typescript et <b>angular</b>" </p>
    <p>Du coté backend , je suis opérationnel sur 3 groupes de technologies : <b>java/springBoot</b> , <b>nodeJs/express</b> et <b>python/flask</b> .</p>
    <p>Je maîtrise les principales technologies "devops" <b>(git , docker , jenkins)</b> et les infrastructures modernes (keycloak/oauth2/oidc , mongodb, ...)</p>
    <p>"UML2 / Design patterns",  "BPMN2" et "Scrum" me servent à bien gérer le fonctionnel. </p>
</div>    
<hr/>
<div class="smallText">
    <h4 class="titre1">Motivations (2025-2035)</h4>
    <p>Alterner petits développements et formations.</p>
    <p>Utiliser correctement les apports de l'IA.</p>
    <p>Développer des choses utiles (dans l'intérêt général).</p>
</div>


