<h3 class="souligne_peu_espace">Prestations proposées</h3>
<mat-tab-group>
<mat-tab label="formation">
Depuis près de 30 ans (en tant que salarié puis en tant que consultant indépendant), je prépare et j'anime régulièrement des formations informatiques dans les domaines suivants:
<ul>
<li><b>Javascript (ES6+),  typescript</b> </li>
<li>essentiel de HTML5/CSS3, ajax, scss</li>
<li>essentiel de <b>nodeJs/express</b>, <b>npm</b>, nestjs, MongoDB</li>
<li>essentiel de <b>SQL</b>, H2,MySQL,Postgres, ...</li>
<li><b>Angular 19+</b> , cypress , ... </li>
<li><b>python</b> , flask , ... </li>
<li><b>Java 17 & 21</b> </li>
<li>JEE 7 (Servlet/JSP, EJB3, <b>JPA</b>/Hibernate, JSF2) </li>
<li><b>Web Services REST/JSON</b> (Spring-mvc, token JWT,OAuth2/OIDC/Keycloak) </li>
<li><b>écosystème Spring</b> (spring 6+, spring-boot 3, spring-data) </li>
<li><b>Devops</b> et intégration continue (<b>GIT</b>, Maven, Jenkins, Vagrant, Docker)</li>
<li><b>UML</b> (expression des besoins, analyse et conception)</li>
<li>architectures SOA et <b>micro-services</b>(SOAP/WSDL, ESB, BPMN2, <b>Docker</b>)</li>
<li>essentiel de C/C++ (souvenirs)</li>
</ul>
</mat-tab>


<mat-tab label="developpement (front-end & backend)">
    <p>Etant donné que j'anime régulièrement des formations avec certains engagements sur des dates d'animation (souvent quelques semaines ou quelques mois à l'avance) , 
       je ne peux pour l'instant entreprendre que ces types de développements:
    </p>  
    <ul> 
        <li> développement court (quelques semaines)  </li>
        <li> participation ponctuelle/partielle à développement long </li>
        <li> développement long non urgent avec planning souple (ex: 5jours par mois à affecter assez librement)</li>
    </ul> 
</mat-tab>


<mat-tab label="conseil">
Ayant une grande expérience en informatique (developpement full stack), je peux apporter
certains conseils dans le cadre d'une participation ponctuelle à un projet d'envergure.<br/>
Voici une liste (non exhaustive) de <u>services</u> que je peux proposer: <br/>
- modélisation UML (expression des besoins, analyse, conception)<br>
- élaboration d'un "POC" / prototype technique (nouvelle combinaison de technologies récentes)<br>
- élaboration d'une architecture logicielle (bon dimensionnement, adapation "cloud/saas")<br>      
</mat-tab>
</mat-tab-group>     

<!--
de 2020 à 2025:

Je peux (selon mes disponibilités) développer un site web (tel que celui-ci,avec plus de fonctionnalités) selon les modalités suivantes:  
<br/>
<br/>
<ul>
  <li>compréhension de l'objectif métier et première estimation du coût <i>(2 * 2 heures environ)</i></li>
  <br/>
  <u> phase "avant projet" <i>(quelques demi-journées)</i>: </u>
  <li>maquette statique et "responsive" en HTML5/CSS3/Bootstrap</li>
  <li>ajustements de la maquette et estimation plus précise du coût</li>
  <br/>
  <u> phase "élaboration" <i>(quelques journées)</i>:</u>
  <li>programmation de la partie backEnd (WS REST JSON + DataBase) en nodeJs/express/Mongo (80% des cas) ou bien java/spring/jpa/Mysql (20% des cas)</li>
  <li>programmation de la partie frontEnd (S.P.A.) en typescript/angular/bootstrap-css</li>
  <br/>
  <u> phase "déploiement" <i>(quelques demi-journées)</i> :</u>
  <li>tests et déploiement sur un hébergement cloud (ovh, gandi)</li>
  <li>livraison de tous les éléments sources (code, paramétrages, diagrammes)</li>
  <li>micro-réajustements (avec le recul, ...)</li>
  <br/>
  <li>éventuelles évolutions (selon nouveaux besoins, maintenance, re-looking)</li>
</ul>

<hr/>
NB: le coût global (de 1000 à 3500 euros environ) dépend essentiellement de 2 facteurs:<br>
- complexité (simple : site "vitrine" avec contacts , complexe : avec "opérations en ligne")<br/>
- hyper-classique ou "sur mesure" 
-->
