<mat-tab-group>
    <mat-tab label="périmètre">
        <img src="/res-api/v1/public/posts/images/domaines_competences.png" width="66%"/>      
    </mat-tab>
    <mat-tab label="java/jee/spring">
        <img src="/res-api/v1/public/posts/images/competences_jee_spring.png" width="66%"/>
    </mat-tab>
    <mat-tab label="javascript">
        <img src="/res-api/v1/public/posts/images/competences_javascript.png" width="66%"/>      
     </mat-tab>
    <mat-tab label="devops">
        <img src="/res-api/v1/public/posts/images/competences_devops.png" width="66%"/>
    </mat-tab>
    <mat-tab label="transverse">
        <img src="/res-api/v1/public/posts/images/competences_transverses.png" width="66%"/>
   </mat-tab>
</mat-tab-group>
<p><i>Principaux domaines de compétences professionnelles</i></p>
