/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

img.maxOverviewSized {
	max-height : 250px;
	/*width : 100%;*/
	max-width : 100%;
	height: auto;
	width : auto;
}
