<h3>WELCOME</h3>

<p>Consultant informatique indépendant <b>Didier Defrance</b> spécialisé dans le développement <i><b>full stack</b></i> résidant à Vernon (27) et prêt à effectuer des missions (développements, formations) en mode distanciel ou bien à distance raisonnable (région Parisienne, Haute-Normandie, ...)</p>

<ul>
   <li><a routerLink="/ngr-presentation">présentation et motivations</a></li>
   <li><a routerLink="/ngr-contact">concact</a></li>
   <li><a routerLink="/ngr-dom-competences">détails du profil (compétences professionelles)</a></li>
</ul>

